<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#로지스틱-회귀분석-과제" data-toc-modified-id="로지스틱-회귀분석-과제-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>로지스틱 회귀분석 과제</a></span></li></ul></div>

# 로지스틱 회귀분석 과제 

- 1) 타이타닉 데이터를 불러오고 survived를 종속변수(y)로, 나머지 변수들은 독립변수(X)로 설정하세요

In [107]:
import pandas as pd 
df_t = pd.read_csv("data/titanic.csv")
df_t

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town
0,0,3,male,22.0,1,0,7.2500,S,Third,True,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton
3,1,1,female,35.0,1,0,53.1000,S,First,False,Southampton
4,0,3,male,35.0,0,0,8.0500,S,Third,True,Southampton
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,True,Southampton
887,1,1,female,19.0,0,0,30.0000,S,First,False,Southampton
888,0,3,female,NaN,1,2,23.4500,S,Third,False,Southampton
889,1,1,male,26.0,0,0,30.0000,C,First,True,Cherbourg
890,0,3,male,32.0,0,0,7.7500,Q,Third,True,Queenstown

- 2) X의 결측치가 존재하는 행을 삭제하고, 범주형 변수를 더미변수화 시키세요

In [108]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   adult_male   891 non-null    bool
 10  embark_town  889 non-null    object
dtypes: bool(1), float64(2), int64(4), object(4)
memory usage: 70.6+ KB

In [109]:
df_t.dropna(inplace = True)
df_t = df_t.reset_index(drop = True)
df_t

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town
0,0,3,male,22.0,1,0,7.2500,S,Third,True,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton
3,1,1,female,35.0,1,0,53.1000,S,First,False,Southampton
4,0,3,male,35.0,0,0,8.0500,S,Third,True,Southampton
...,...,...,...,...,...,...,...,...,...,...,...
707,0,3,female,39.0,0,5,29.1250,Q,Third,False,Queenstown
708,0,2,male,27.0,0,0,13.0000,S,Second,True,Southampton
709,1,1,female,19.0,0,0,30.0000,S,First,False,Southampton
710,1,1,male,26.0,0,0,30.0000,C,First,True,Cherbourg
711,0,3,male,32.0,0,0,7.7500,Q,Third,True,Queenstown

In [110]:
X = df_t.drop(['survived'], axis = 1)
y = df_t['survived']

In [111]:
X = X.drop(['class', 'embark_town'], axis = 1)

In [112]:
X = pd.get_dummies(X, columns = ['sex','pclass', 'embarked'], drop_first = True) # 첫번째 카테고리는 사용하지 않겠다.

In [113]:
X = X.drop(['adult_male'], axis = 1)
X

,age,sibsp,parch,fare,sex_male,pclass_2,pclass_3,embarked_Q,embarked_S
0,22.0,1,0,7.2500,1,0,1,0,1
1,38.0,1,0,71.2833,0,0,0,0,0
2,26.0,0,0,7.9250,0,0,1,0,1
3,35.0,1,0,53.1000,0,0,0,0,1
4,35.0,0,0,8.0500,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...
707,39.0,0,5,29.1250,0,0,1,1,0
708,27.0,0,0,13.0000,1,1,0,0,1
709,19.0,0,0,30.0000,0,0,0,0,1
710,26.0,0,0,30.0000,1,0,0,0,0
711,32.0,0,0,7.7500,1,0,1,1,0

- 3) 독립변수(X)를 StandardScaler를 통해 변환하세요

In [114]:
# StandardScaler : 표준화, Z(0,1)
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [115]:
X_std = scaler.transform(X)
X_std = pd.DataFrame(X_std, columns=X.columns)

In [116]:
X_std

,age,sibsp,parch,fare,sex_male,pclass_2,pclass_3,embarked_Q,embarked_S
0,-0.527669,0.522511,-0.506787,-0.516380,0.756138,-0.566538,1.002813,-0.202326,0.534040
1,0.577094,0.522511,-0.506787,0.694046,-1.322511,-0.566538,-0.997195,-0.202326,-1.872519
2,-0.251478,-0.552714,-0.506787,-0.503620,-1.322511,-0.566538,1.002813,-0.202326,0.534040
3,0.369951,0.522511,-0.506787,0.350326,-1.322511,-0.566538,-0.997195,-0.202326,0.534040
4,0.369951,-0.552714,-0.506787,-0.501257,0.756138,-0.566538,1.002813,-0.202326,0.534040
...,...,...,...,...,...,...,...,...,...
707,0.646142,-0.552714,5.350885,-0.102875,-1.322511,-0.566538,1.002813,4.942527,-1.872519
708,-0.182430,-0.552714,-0.506787,-0.407687,0.756138,1.765108,-0.997195,-0.202326,0.534040
709,-0.734812,-0.552714,-0.506787,-0.086335,-1.322511,-0.566538,-0.997195,-0.202326,0.534040
710,-0.251478,-0.552714,-0.506787,-0.086335,0.756138,-0.566538,-0.997195,-0.202326,-1.872519
711,0.162808,-0.552714,-0.506787,-0.506928,0.756138,-0.566538,1.002813,4.942527,-1.872519

- 4) X와 y를 홀드아웃 기법을 사용하여 7:3으로 분할하세요

In [117]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_std, y, stratify = y, test_size = 0.3, random_state = 2020)

- 5) X_train과 y_train을 가지고 로지스틱 회귀분석모델을 만드세요

In [118]:
import statsmodels.api as sm
model = sm.Logit(y_train, X_train)
model.fit()

Optimization terminated successfully.
         Current function value: 0.431732
         Iterations 7

- 6) 변수선택법을 통해 최적의 회귀 방정식을 구하고, 유의한 변수만을 추출하세요. (변수선택법은 복사 붙여넣기)

In [119]:
import time
import itertools
def processSubset(X,y, feature_set):
            model = sm.Logit(y,X[list(feature_set)]) # Modeling
            regr = model.fit() # 모델 학습
            AIC = regr.aic # 모델의 AIC
            return {"model":regr, "AIC":AIC}
        
'''
전진선택법
'''
def forward(X, y, predictors):
    
    # 데이터 변수들이 미리정의된 predictors에 있는지 없는지 확인 및 분류
    remaining_predictors = [p for p in X.columns if p not in predictors]
    results = []
    for p in remaining_predictors:
        results.append(processSubset(X=X, y= y, feature_set=predictors+[p]))
        
    # 데이터프레임으로 변환
    models = pd.DataFrame(results)

    # AIC가 가장 낮은 것을 선택
    best_model = models.loc[models['AIC'].argmin()] # index

    print("Processed ", models.shape[0], "models on", len(predictors)+1, "predictors in")
    print('Selected predictors:',best_model['model'].model.exog_names,' AIC:',best_model[0] )
    return best_model

'''
후진소거법
'''
def backward(X,y,predictors):
    tic = time.time()
    results = []
    
    # 데이터 변수들이 미리정의된 predictors 조합 확인
    for combo in itertools.combinations(predictors, len(predictors) - 1):
        results.append(processSubset(X=X, y= y,feature_set=list(combo)))
    models = pd.DataFrame(results)
    
    # 가장 낮은 AIC를 가진 모델을 선택
    best_model = models.loc[models['AIC'].argmin()]
    toc = time.time()
    print("Processed ", models.shape[0], "models on", len(predictors) - 1, "predictors in",
          (toc - tic))
    print('Selected predictors:',best_model['model'].model.exog_names,' AIC:',best_model[0] )
    return best_model



'''
단계적 선택법
'''

def Stepwise_model(X,y):
    Stepmodels = pd.DataFrame(columns=["AIC", "model"])
    tic = time.time()
    predictors = [X.columns[0]]
    Smodel_before = processSubset(X,y,predictors)['AIC']
    # 변수 1~10개 : 0~9 -> 1~10
    for i in range(1, len(X.columns) + 1):
        Forward_result = forward(X=X, y=y, predictors=predictors) # constant added
        print('forward')
        Stepmodels.loc[i] = Forward_result
        predictors = Stepmodels.loc[i]["model"].model.exog_names
        predictors = [ k for k in predictors]
        Backward_result = backward(X=X, y=y, predictors=predictors)
        if Backward_result['AIC']< Forward_result['AIC']:
            Stepmodels.loc[i] = Backward_result
            predictors = Stepmodels.loc[i]["model"].model.exog_names
            Smodel_before = Stepmodels.loc[i]["AIC"]
            predictors = [ k for k in predictors]
            print('backward')
        if Stepmodels.loc[i]['AIC']> Smodel_before:
            break
        else:
            Smodel_before = Stepmodels.loc[i]["AIC"]
    toc = time.time()
    print("Total elapsed time:", (toc - tic), "seconds.")
    return (Stepmodels['model'][len(Stepmodels['model'])])

In [120]:
Stepwise_best_model = Stepwise_model(X_train,y_train)

Optimization terminated successfully.
         Current function value: 0.690947
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.689254
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.689157
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.640379
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.512944
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.682394
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.601763
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.690857
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.682514
         Iterations 4
Processed  8 models on 2 predictors in
Selected predictors: ['age', 'sex_male']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22f8b0>
forward
Optimization terminated successfully.
         Current function value: 0.690947
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.513439
         Iterations 5
Processed  2 models on 1 predictors in 0.003774881362915039
Selected predictors: ['sex_male']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22e920>
backward
Optimization terminated successfully.
         Current function value: 0.512944
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.508861
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.511264
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.491123
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.510652
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.468722
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.512027
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.510221
         Iterations 5
Processed  8 models on 2 predictors in
Selected predictors: ['sex_male', 'pclass_3']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22ff70>
forward
Optimization terminated successfully.
         Current function value: 0.513439
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.624602
         Iterations 4
Processed  2 models on 1 predictors in 0.002259969711303711
Selected predictors: ['sex_male']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29de23c10>
Optimization terminated successfully.
         Current function value: 0.457607
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.466119
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.467825
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.463857
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.461646
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.468519
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.467394
         Iterations 6
Processed  7 models on 3 predictors in
Selected predictors: ['sex_male', 'pclass_3', 'age']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22eb30>
forward
Optimization terminated successfully.
         Current function value: 0.468722
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.512944
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.601763
         Iterations 5
Processed  3 models on 2 predictors in 0.0036590099334716797
Selected predictors: ['sex_male', 'pclass_3']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22d810>
Optimization terminated successfully.
         Current function value: 0.449877
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.456072
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.453126
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.443192
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.457507
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.456190
         Iterations 6
Processed  6 models on 4 predictors in
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22ed10>
forward
Optimization terminated successfully.
         Current function value: 0.457607
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.461646
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.510125
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.587964
         Iterations 5
Processed  4 models on 3 predictors in 0.004125118255615234
Selected predictors: ['sex_male', 'pclass_3', 'age']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29de237f0>
Optimization terminated successfully.
         Current function value: 0.433366
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.441283
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.442948
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.443085
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.443191
         Iterations 6
Processed  5 models on 5 predictors in
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2', 'sibsp']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22f550>
forward
Optimization terminated successfully.
         Current function value: 0.443192
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.449877
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.459184
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.504104
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.583719
         Iterations 5
Processed  5 models on 4 predictors in 0.004235982894897461
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22d8d0>
Optimization terminated successfully.
         Current function value: 0.433212
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.432374
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.433279
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.433277
         Iterations 6
Processed  4 models on 6 predictors in
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2', 'sibsp', 'fare']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22dd20>
forward
Optimization terminated successfully.
         Current function value: 0.433366
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.442948
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.442338
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.456781
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.470031
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.580174
         Iterations 6
Processed  6 models on 5 predictors in 0.0050051212310791016
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2', 'sibsp']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29de23d30>
backward
Optimization terminated successfully.
         Current function value: 0.433212
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.432374
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.433279
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.433277
         Iterations 6
Processed  4 models on 6 predictors in
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2', 'sibsp', 'fare']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22d1b0>
forward
Optimization terminated successfully.
         Current function value: 0.433366
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.442948
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.442338
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.456781
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.470031
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.580174
         Iterations 6
Processed  6 models on 5 predictors in 0.004765033721923828
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2', 'sibsp']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22d7e0>
backward
Optimization terminated successfully.
         Current function value: 0.433212
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.432374
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.433279
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.433277
         Iterations 6
Processed  4 models on 6 predictors in
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2', 'sibsp', 'fare']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22f970>
forward
Optimization terminated successfully.
         Current function value: 0.433366
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.442948
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.442338
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.456781
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.470031
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.580174
         Iterations 6
Processed  6 models on 5 predictors in 0.00472712516784668
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2', 'sibsp']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22fa30>
backward
Optimization terminated successfully.
         Current function value: 0.433212
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.432374
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.433279
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.433277
         Iterations 6
Processed  4 models on 6 predictors in
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2', 'sibsp', 'fare']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22e950>
forward
Optimization terminated successfully.
         Current function value: 0.433366
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.442948
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.442338
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.456781
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.470031
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.580174
         Iterations 6
Processed  6 models on 5 predictors in 0.004803180694580078
Selected predictors: ['sex_male', 'pclass_3', 'age', 'pclass_2', 'sibsp']  AIC: <statsmodels.discrete.discrete_model.BinaryResultsWrapper object at 0x29f22f2b0>
backward
Total elapsed time: 0.11240792274475098 seconds.

In [128]:
X_test = X_test[stepwise_best_model.params.index]

- 6) X_test값을 가지고 y_predict값을 구한 후 혼동행렬을 만드세요

In [129]:
y_pred = stepwise_best_model.predict(X_test)

In [130]:
y_pred

487    0.400765
534    0.841338
286    0.877147
42     0.140264
483    0.901562
         ...
314    0.976227
682    0.932550
249    0.143275
502    0.120651
348    0.653012
Length: 214, dtype: float64

In [133]:
y_pred[y_pred > 0.5] = 1
y_pred[y_pred <= 0.5] = 0

In [134]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[88, 39],
       [19, 68]])

- 7) X_test값을 가지고 y_predict_proba 값을 구한 후 roc_auc_score를 구하고 해석하세요

In [135]:
from sklearn.metrics import roc_auc_score
y_predict_proba = stepwise_best_model.predict(X_test)
roc_auc_score(y_test, y_predict_proba)

0.8212960448909403

In [103]:
# ROC 곡선 아래 면적의 넓이는 약 0.83 이다.

- 7) 회귀계수를 구하고, 유의한 회귀계수의 값을 설명하세요

In [136]:
stepwise_best_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  498
Model:                          Logit   Df Residuals:                      493
Method:                           MLE   Df Model:                            4
Date:                Thu, 22 Sep 2022   Pseudo R-squ.:                  0.3575
Time:                        23:32:05   Log-Likelihood:                -215.82
converged:                       True   LL-Null:                       -335.88
Covariance Type:            nonrobust   LLR p-value:                 8.744e-51
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
sex_male      -1.4248      0.134    -10.633      0.000      -1.687      -1.162
pclass_3      -1.3690      0.179     -7.630      0.000      -1.721      -1.017
age           -0.7166      0.150     -4.766      0.000      -1.011      -0.422
pclass_2      -0.6223      0.159     -3.924      0.000      -0.933      -0.311
sibsp         -0.4127      0.141     -2.935      0.003      -0.688      -0.137
==============================================================================
"""

In [137]:
import numpy as np
np.exp(stepwise_best_model.params)

sex_male    0.240546
pclass_3    0.254355
age         0.488393
pclass_2    0.536716
sibsp       0.661868
dtype: float64

In [139]:
#

316.6666666666667